In [1]:
'''
데이터분석
1.DDA 묘사적->문제정의/원인규명
2.EDA 탐색적->현상파악/현황. 이런식의 경향성이 있네! 시각화
3.CDA 확증적->가설검정 p-value
4.PDA 수식 예측


'''

'\n데이터분석\n1.DDA 묘사적->문제정의/원인규명\n2.EDA 탐색적->현상파악/현황. 이런식의 경향성이 있네! 시각화\n3.CDA 확증적->가설검정 p-value\n4.PDA 수식 예측\n\n\n'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from statsmodels.formula.api import ols
from statsmodels.api import qqplot, add_constant
import statsmodels.formula.api as smf
from statsmodels.tools.eval_measures import rmse
%matplotlib inline

In [3]:
df1=pd.read_csv('/home/pirl/test/5주차/model_data.csv',encoding='cp949')

In [4]:
df1.head()

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,NaN,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,NaN,49.156,8.95,180,44,185

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
NAME        31 non-null object
GENDER      30 non-null object
AGE         31 non-null int64
AGEGROUP    31 non-null object
WEIGHT      29 non-null float64
OXY         31 non-null float64
RUNTIME     31 non-null float64
RUNPULSE    31 non-null int64
RSTPULSE    31 non-null int64
MAXPULSE    31 non-null int64
dtypes: float64(3), int64(4), object(3)
memory usage: 2.5+ KB

In [6]:
df1.isnull().sum()

NAME        0
GENDER      1
AGE         0
AGEGROUP    0
WEIGHT      2
OXY         0
RUNTIME     0
RUNPULSE    0
RSTPULSE    0
MAXPULSE    0
dtype: int64

In [7]:
df2=df1.dropna()

In [8]:
df2.shape

(28, 10)

In [9]:
X=df2[['AGE','WEIGHT','RUNTIME','RUNPULSE','RSTPULSE','MAXPULSE']]
Y=df2[['OXY']]

#괄호 2개 : 데이터 프레임
#괄호 1개 : 시리즈!!
#따라서 X와 Y의 형태 맞춰준것.

In [10]:
from sklearn. model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import numpy

In [11]:
X_train, X_test, Y_train,Y_test=train_test_split(X,Y, test_size=0.3)

In [12]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(19, 6) (9, 6) (19, 1) (9, 1)

In [13]:
model=Lasso()
result=model.fit(X_train, Y_train)

In [14]:
y_pred=model.predict(X_test)

In [15]:
print(model.score(X_test,Y_test))
print(mean_squared_error(Y_test,y_pred))
print(mean_absolute_error(Y_test,y_pred))

0.5697513651160291
18.878037019556576
3.4589791511288763

In [ ]:
#파이썬 머신러닝 완벽가이드
#파이썬 쥬피터 노트북 실전입문
#텐서플로와 머신러닝으로 시작하는 자연어처리
#딥러닝 캠프 파이토치편
#캐라스창시자
#미술관에 GAN 딥러닝 ??!
#거미책.?!
#파이썬 웹 프로그래밍 용